
.categories{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item{
    margin:0 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    color: rgb(33, 225, 12);
    text-transform: capitalize;

}
.item:hover{
    color: rgb(39, 8, 159);
}

